p {
  margin-top: 5px;
  margin-bottom: 5px;
}

body {
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 3px;
  margin-right: 3px;
  background-color: rgb(233, 233, 233);
}

.pic {
  width: 220px;
  height: 220px;
  float: right;
}

.school_pic{
  width: 250px;
  height: 250px;
  border-radius: 110px;
  padding: 15px;
  float: right;
}

.pic_1{
  width: 550px;
  height: 450px;
  padding: 30px;
  border-radius: 5px;
  float: left;
}
