body{
  margin: 15px;
  background-color: #afeeee;
}

p{
  margin-top: 3px;
  margin-bottom: 3px;
}

.content_holder{
  padding: 2px;
  background-color: #b0e0e6;
}

.let_us_get_an_into{
  margin-top: 150px;
  margin-bottom: 150px;
}

.section{
  padding: 3px;
}

.content_footer{
  background-color: #f5f5f5;
}

.my_skill{
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));

}

.skill_div{
  background-color: #5dcfe0;
  padding: 15px;
}