body::-webkit-scrollbar{
  width: 15px;
}

body::-webkit-scrollbar-track{
  background: rgba(81, 177, 233, 0.7);
  border-radius: 100vw;
  margin-block: 5px;
}

body::-webkit-scrollbar-thumb{
  background: rgba(81, 177, 233, 1);
  border-radius: 100vw;
  border: 0.25em solid rgba(81, 177, 233, 1);
}
