.head {
  font-family: "Quicksand", Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 55px;
  text-align: center;
  padding: 15px;
}

.content-head {
  font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
  margin-top: 30px;
  margin-bottom: 12px;
}

.symbol {
  padding: 14px;
}

.text {
  font-family: "Martian Mono", Arial, Helvetica, sans-serif;
  font-size: 18px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.web-link {
  font-family: "Martian Mono", Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: rgb(103, 200, 233);
  text-decoration: none;
  font-weight: 600;
}

.sections {
  padding-bottom: 4px;
  padding-top: 4px;
}

.aboutme {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.size{
  margin-top: 550px;
}
